.main__specials {
    width: 80%;
    padding: 8rem 4rem 0 4rem;
    flex-direction: column;
}

.main__specials-heading {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}

.main__specials-offers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.custom__button {
    width: 200px;
}

.specials__offers-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    width: 300px;
    border-radius: 20px;
}

.item__heading {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 1rem;
}

.item__image {
    width: 300;
}

.item__image img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.p__highlight {
    color: var(--color-orange);
}

.p__regular {
    padding: 2.5rem;
}

.item__order {
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
    .main__specials-offers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .specials__offers-item {
        width: 80%;
    }

    .main__specials-heading {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .main__specials {
        width: 100%;
    }

    .specials__offers-item {
        width: 100%;
    }
}