.app__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.app__header-logo {
    width: 200px;
}

.app__header-logo img {
    width: 100%;
}

nav {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .app__header ul {
        gap: 1rem;
    }

    .app__header-logo {
        width: 150px;
    }
}

@media screen and (max-width: 800px) {
    .app__header ul {
        gap: 0.5rem;
    }

    .app__header-logo {
        width: 120px;
    }
}